LOG_LEVEL=DEBUG
SERVER_ADDRESS=0.0.0.0
SERVER_PORT=5000
AUDIO_FILES_PATH=/tmp
MODEL_LANGUAGES_V1=EN:English,ZH:Chinese
MODEL_LANGUAGES_V2=EN,ES,FR,ZH,JP
DEVICE_V1=cuda:0
DEVICE_V2=cuda:0
SPEAKERS_FOLDER=speakers
SPEAKERS=\
aerith_gainsborough,\
aimeeffion_edwards,\
alan_rickman,\
andrew_tate,\
arnold_schwarzenegger,\
ashly_burch,\
barack_obama,\
ben_shapiro,\
bill_gates,\
cartman_parker,\
chris_broad,\
christopher_lee,\
cindy_robinson,\
dave_lee,\
david_attenborough,\
david_hayter,\
donald_trump,\
elizabeth_windsor,\
elon,\
elon_musk,\
felix_kjellberg,\
gollum_serkis,\
henry_cavil,\
hillary_clinton,\
james_donaldson,\
jim_dale,\
jimmy_fallon,\
jin_sakai,\
joe_biden,\
joe_rogan,\
john_oliver,\
joker_hamil,\
jordan_peterson,\
kadie_diekmeyer,\
kaiwen,\
kanye_west,\
kevin_conroy,\
kratos_judge,\
lex_fridman,\
liam_neeson,\
linus_tvorlas,\
logan_paul,\
mark_zuckerberg,\
marques_brownlee,\
martha_mackintosh,\
matthew_morgan,\
micheal_saylor,\
nigel_ng,\
oprah_winfrey,\
patrick_bateman,\
patrick_stewart,\
rachel,\
ray_dalio,\
reggie_filsaime,\
richard_harris,\
samuel_jackson,\
sean_bean,\
seth_godin,\
skyrim_bandit,\
skyrim_brynjolf,\
skyrim_serana,\
smeagol_character,\
stephen_fry,\
tifa_lockhart,\
tim_cook,\
tom_bilyeu,\
tucker_carlson,\
warren_buffet,\
zac_efron
SUPPORTED_STYLES_V1=English
WATERMARK=@OpenVoiceAPI
USE_VAD=False
